
a {
  color: #00B7FF;
}
body {
  width: 100%;
  height: auto;
  background-color: #f5f2f2bd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
 width: 100%;
}
li{
  list-style: none;
}
aside {
  margin-bottom: 10px;
  height: 10vh;
  width: 76vh;;
  background-color: white;
  color: #0086d3;
}
form{
  width: 30%;
}
.form-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2px;
  width: 100%;
  height: 8vh;
  background-color: white;
}
.submit{
  width: 100px;
  background-color: #0086d0;
  color: white;
}
.button{
  display: flex;
  padding-top: 5px;
  margin-right: 5px;
  justify-content: flex-end;
  align-items: center;
}
.name{
  display: flex;
  align-items: center;
  justify-content: center;
}
