extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(class="form" method="post" action="/gares/" id="editGare")
    div(class="form-group")
      label(for="nom") Nouvelle Gare :
      input(type="text", name="nom", placeholder="Nom")
    div(class="form-group")
      label(for="siret") Siret :
      input(type="text", name="siret", placeholder="Siret")
    div(class="form-group")
      label(for="idexterne") Idexterne :
      input(type="text", name="idexterne", placeholder="idexterne")
    div(class="form-group")
      label(for="gid") Gid :
      input(type="text", name="gid", placeholder="gid")
    div(class="form-group")
      label(for="identifiant") Identifiant :
      input(type="text", name="identifiant", placeholder="identifiant")
    div(class="form-group")
      input(class="submit" type="submit", value="Send")
  
  h1 Liste de Gares
  container(id="container")
    each gare in gares  
      include ./gares.jade
  
